.card {
    margin: 10px 10px 10px 10px;
    border: #DDDDDD solid 1px;
    border-radius: 5px;
}

.status {
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.candidate-count {
    font-size: 30px;
    text-align: center;
}

.candidate-name {
    font-weight: bold;
    padding: 10px 10px 10px 10px;
}

.candidate-status {
    padding: 10px 10px 10px 10px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px #DDDDDD solid;
    padding: 10px 10px 10px 10px;
}

.title-row {
    padding: 10px 10px 10px 10px;
}

.footer {
    text-align: center;
    padding: 10px 10px 10px 10px;
}