.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    border: #DDDDDD solid 1px;
    background-color: #FFFFFF
}

.dropdown-title-row {
    padding: 10px 10px;
    border-bottom: 1px #DDDDDD solid;
    display: block;
}

.dropdown-row {
    padding: 10px 10px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

i {
    border: solid;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.down-arrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}