.details {
    margin: 10px 10px 10px 10px;
    border: #DDDDDD solid 1px;
    border-radius: 5px;
}

.status {
    padding: 10px 10px 10px 10px;
}

.detail-count {
    font-size: 30px;
    text-align: center;
}

.detail-name {
    font-weight: bold;
    padding: 10px 10px 10px 10px;
}

.detail-status {
    padding: 10px 10px 10px 10px;
}

.detail-package {
    padding: 10px 10px 10px 10px;
}

.detail-geo {
    padding: 10px 10px 10px 10px;
}

.detail-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px #DDDDDD solid;
    padding: 10px 10px 10px 10px;
}

.detail-title-row {
    padding: 10px 10px 10px 10px;
}

.footer {
    text-align: center;
    padding: 10px 10px 10px 10px;
}